body{
	margin: 0;
	padding: 0;
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyclsumN1e_kvJHFWjmix1sAFJgLcYgci81B5NNsBOPcd7TgNa) no-repeat;
	background-size: cover;
}

.box{
	width: 450px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: sans-serif; 

}

.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.box h1{
	font-size: 40px;
	outline-color: blue;
	
}
.box h3{
	color: white;
	
}
.btn-group button {
    background-color: transparent; ; /* Green background */
    color: black;
    font-size: 24px;
    border-radius: 12px;
    border: 2px solid black; /* Green border */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: center; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: white;
}
 
h2{
	padding: 25px;
	color : blue;
	font-size: 40px;
}

.about p{
	text-align: center;
	padding: 10px;
	color: white;
}

.about span{
	font-size: 40px;
}

.para p{
	font-size: 30px;
}

.contact label{
	font-size: 30px;
	font-style: italic;
	color: yellow;
	padding : auto;


}

.skills p{
	color: white;
	font-size: 30px;
}

.skills h3{
	color: green;
	font-size: 30px;
}
